$primary:       #4638c2 !default;
$secondary:     #343639 !default;
$success:       #367d4e !default;
$info:          #1a80e6 !default;
$warning:       #cb941d !default;
$danger:        #c54040 !default;
$light:         #0a0a0d !default;
$dark:          #040405 !default;
