/**
 * AdminLTE sidebar Dark
 * adminlte-sidebar-dark
 */
$custom-sidebar-bg: #222D32;
$custom-sidebar-color: #B8C7CE;

$custom-sidebar-nav-title-color: $gray-200 !default;

$custom-sidebar-nav-link-hover-bg: #1E282C;
$custom-sidebar-nav-link-hover-color: #FFFFFF;

$custom-sidebar-nav-link-active-bg: #1E282C;
$custom-sidebar-nav-link-active-color: #FFFFFF;

$custom-sidebar-nav-dropdown-bg: #2C3B41;
$custom-sidebar-nav-dropdown-color: #B8C7CE;

$custom-sidebar-border-right: none;
$custom-sidebar-nav-dropdown-indicator: $sidebar-nav-dropdown-indicator-hover;
