$primary:       #1BC5BD !default;
$secondary:     #181C32 !default;
$success:       #3699FF !default;
$info:          #6993FF !default;
$warning:       #FFA800 !default;
$danger:        #F64E60 !default;
