$primary:       #7366ff !default;
$secondary:     #f73164 !default;
$success:       #51bb25 !default;
$info:          #a927f9 !default;
$warning:       #f8d62b !default;
$danger:        #dc3545 !default;
