$navbar-bg:                           $custom-navbar-bg;
$navbar-color:                        $custom-navbar-color;
$navbar-hover-color:                  $custom-navbar-active-color;
$navbar-active-color:                 $custom-navbar-active-color;
$navbar-disabled-color:               $custom-navbar-disabled-color;
